* {margin:0;padding:0;}
html , body { width: 100%; height: 100%;}


.wrap {height: 100%;}
.wrap .content {height: 100%;}

/* content */
.content .login{position: relative; margin: 0 auto; width : 550px; height: 70%;top: 50%; transform: translateY(-50%);}
.content .login #login-form { position:relative; margin: 0 auto; width: 70%;border: 1px solid black;}
.content .login #login-form div { margin : 20px 10px;}
.content .login #login-form input[type='text'] ,
.content .login #login-form input[type='password'] { width: 98%; height: 20px;}
.content .login #login-form button { width:49% }
.content .login #login-form select { width:32%; height :20px; -ms-text-align-last: right; text-align-last: right;}
